

@{
    ViewBag.Title = "ManagerPopup";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>AdminLTE 2 | @ViewBag.Title</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    <!-- Bootstrap 3.3.2 -->
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/Content/css/animate.css" rel="stylesheet">
    <link href="/Content/css/style.css" rel="stylesheet">
    <script src="/Content/js/jquery-3.1.1.min.js"></script>
    <script src="/Content/js/bootstrap.min.js"></script>
    <script src="/Content/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/Content/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/Content/js/inspinia.js"></script>
    <script src="/Content/js/plugins/pace/pace.min.js"></script>

    <script src="/Content/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

</head>
<body class="skin-blue">
    <div class="wrapper">
        <div class="content-wrapper">
            @RenderBody()
        </div>
    </div>
</body>

</html>

